@using System.Collections;
@{ 
    ViewBag.Title = "Index";
}



    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>File Counter MVC</title>
    </head>
    <body>

        <form id="StorageAccount-list">
            <h3>Storage Accounts Checking</h3>
            <table id="storage-account-list-table" class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>App Settings</th>
                        <th>Is Required</th>
                        <th>Storage Account</th>
                        <th>Health Check</th>
                        <th>Details</th>
                    </tr>
                </thead>
                @foreach (var validatedResult in ViewBag.storageValidations)
                {
                <tr>
                    <td>
                        <span>@validatedResult.AppSettingsKey </span>
                        @*<input type="number" v-bind:placeholder="item.quantity" v-show="item.inEditMode" v-model="item.quantity" />*@
                    </td>
                    <td>
                        <span>@validatedResult.Mandatory</span>
                        @*<input v-bind:placeholder="item.itemName" v-show="item.inEditMode" v-model="item.itemName" />*@
                    </td>
                    <td>
                        <span>@validatedResult.AccountName</span>
                    </td>
                    <td>
                        @if (validatedResult.Status == 0)
                        {
                            <i class="fa fa-check-circle" aria-hidden="true" style="color:green"></i>
                        }
                        else
                        {
                            <i class="fa fa-exclamation-circle" aria-hidden="true" style="color:#bf0505f7"></i>
                        }

                    </td>
                    <td>
                        <span>@validatedResult.Message</span>
                    </td>
                </tr>
                   } 
                </table>
        </form>
    </body>
</html>
